html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	border: none;
	cursor: pointer;
}
.auth-content-root {
	width: 100%;
	display: flex;
	max-width: 600px;
	align-items: center;
	flex-direction: column;
}
.auth-input-container {
	width: 75%;
	display: flex;
	align-items: center;
	flex-direction: column;
}